.section-shop {
  padding: 130px 0;
}

.shop-info .shop-title {
  padding-bottom: 25px;
}

.shop-info .shop-nesting {
  font-weight: 500;
  font-size: 17px;
}

.shop-info .shop-nesting .page-name {
  color: #909090;
}

.shop-btns {
  padding-top: 215px;
  padding-bottom: 90px;
  display: flex;
  gap: 10px;

  flex-wrap: wrap;
}

.shop-show-items{
    padding-bottom: 60px;
}

.shop-show-items span.items {
  color: #909090;
  font-size: 17px;
}

/* Collection */

.collection-items {
  display: flex;
  padding-bottom: 65px;
  flex-wrap: wrap;
}

.collection-items .colllection-item {
  text-align: center;
}

.collection-item {
  width: 30%;
  position: relative;
  margin-right: 30px;
  margin-bottom: 45px;
}
.collection-item:last-child {
  margin-right: 0;
}

.collection-img {
  position: relative;
}

.collection-img .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.collection-img .img-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.collection-img::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #6e9c9fa3;
  z-index: 1;
  opacity: 0;

  transition: all 0.3s ease-in-out;
}

.collection-img:hover::after,
.collection-img:hover .img-right {
  opacity: 1;
}

.collection-name,
.collection-price {
  text-align: center;
}

.collection-name {
  padding-top: 25px;
  padding-bottom: 7px;
}

.collection-price {
  color: #9c9c9c;
}

.collection-price span {
  text-decoration: line-through;
  margin-right: 5px;
}


/* pagination */

.collection-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 992px) {
  .collection-items{
      flex-wrap: wrap;
      padding-bottom: 15px;
  }
  .collection-item{
      margin-bottom: 45px;
  }
}

@media screen and (max-width: 768px){
  .section-shop{
    padding-top: 45px;
  }

  .shop-btns{
    padding-top: 45px;
  }


  .collection-item{
      width: 40%;
  }
}

@media screen and (max-width: 585px) {

  .collection-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: 0;
  }
  .collection-img{
      width: 70%;
  }
  
}

@media screen and (max-width: 480px){
  .shop-btn{
    width: 100%;
  }

  .shop-btn .btn-shop{
    width: 100%;
    text-align: center;
  }
}


